@model TaskManagement.Models.Task

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.FirstName)
            @Html.DisplayFor(model => model.Author.LastName)
            @Html.DisplayFor(model => model.Author.MiddleName)
            @Html.DisplayFor(model => model.Author.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Executor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Executor.FirstName)
            @Html.DisplayFor(model => model.Executor.LastName)
            @Html.DisplayFor(model => model.Executor.MiddleName)
            @Html.DisplayFor(model => model.Executor.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">@ViewBag.Status</dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
