@model IEnumerable<TaskManagement.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using (Html.BeginForm("Index", "Tasks", FormMethod.Get))
{
    <div class="row">
        <div class="col">
            Priority: <input class="form-control" type="number" data-val="true" id="priority" name="priority" value="" />
        </div>
        <div class="col">
            <label class="control-label">Status: </label>
            @Html.DropDownList("status", ViewBag.Status as SelectList, "Please select", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col">
            <label class="control-label">Project: </label>
            @Html.DropDownList("projectId", ViewBag.Projects as SelectList, "Please select", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col">
            <label class="control-label">Author: </label>
            @Html.DropDownList("authorId", ViewBag.Employees as SelectList, "Please select", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col">
            <label class="control-label">Executor: </label>
            @Html.DropDownList("executorId", ViewBag.Employees as SelectList, "Please select", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col">
            <br />
            <input type="submit" value="Filter" class="btn btn-primary" />
        </div>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSort })
            </th>
            <th>
                @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.DescriptionSort })
            </th>
            <th>
                @Html.ActionLink("Project", "Index", new { sortOrder = ViewBag.ProjectSort })
            </th>
            <th>
                @Html.ActionLink("Author", "Index", new { sortOrder = ViewBag.AuthorSort })
            </th>
            <th>
                @Html.ActionLink("Executor", "Index", new { sortOrder = ViewBag.ExecutorSort })
            </th>
            <th>
                @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSort })
            </th>
            <th>
                @Html.ActionLink("Priority", "Index", new { sortOrder = ViewBag.PrioritySort })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FirstName)
                    @Html.DisplayFor(modelItem => item.Author.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Executor.FirstName)
                    @Html.DisplayFor(modelItem => item.Executor.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
